{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<!-- css files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">

	<link rel="icon" type="image/x-icon" href="static/css/header-bg.jpg">
	<meta name="author" content="Anil">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
	<body>
		<!-- Navbar -->
		<nav class="nav container void-background">
			<!-- This "nav-menu" is hidden on mobile -->
			<!-- Add the modifier "is-active" to display it on mobile -->
			<div class="nav-left">
				
				<a href="https://github.com/bunnyanil111" class="nav-item">
					<span class="icon">
						<i class="fa fa-github"></i>
					</span>
				</a>
				<a href="https://twitter.com/bunny_anil_" class="nav-item">
					<span class="icon">
						<i class="fa fa-twitter"></i>
					</span>
				</a>				
			</div>

			<div class="nav-right nav-menu">
				<a class="nav-item" href="#about">About</a>
				<a class="nav-item" href="#projects">Projects</a>
				<a class="nav-item" href="#social">Social Media</a>
				
				<a class="nav-item" href="static/css/img/resume.pdf" align=center>RESUME</a>
				<a class="nav-item" href='{% url "blog" %}'>Blogs</a>
				<a class="nav-item" href="{% url 'admin:index' %}">Admin</a>
			</div>

			<!-- This "nav-toggle" hamburger menu is only visible on mobile -->
			<!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
			<span class="nav-toggle">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</nav>
				
		<!-- About Me -->
		<section id="about" class="section section-1">
			<div class="container has-text-centered">
				<!-- Source: https://flic.kr/p/pAZBNK -->
				<img class="avatar" src="static/css/img/anil.JPG">
			</div>
			<div class="container" ></br>
				<p class="intro">
					Do not try to be good, try to become great because, that is what finally matters !!!
				</p>
			</div>
		</section>
		
		<!-- Projects -->
		<section  id="projects" class="section section-2">
			<div class="container">
				<div class="has-text-centered">
					<h3 class="title is-3">Projects</h3>
				</div>
				
				<div class="columns is-multiline is-desktop">
					<!-- Project 1 -->
					<div class="column">
						<div class="box project-text">
							<article>
								<div>
									<figure class="image project-figure">
										<img src="static/css/img/project-1.jpg" alt="Image">
									</figure>
								</div>
								<div>			
									<p>
									   I designed a project named "random password generator", which provides the users with some
									   random passwords according to their needs.
									   Project's github link: <a href="https://github.com/bunnyanil111/password_generator.git">
									   Click Here
									   </a>
									</p>
								</div>
							</article>
						</div>
					</div>
					<!-- Project 2 -->
					<div class="column">
						<div class="box project-text">
							<article>
								<div>
									<figure class="image project-figure">
										<img src="static/css/img/project-2.jpg" alt="Image">
									</figure>
								</div>
								<div>			
									<p>
										This project is this website itself, that helps admins to showcase their skills and allows 
										them to write blogs which stores in databases.
										Project's github link:<a href="https://github.com/bunnyanil111/personal_portfolio.git">
										Click Here
										</a> 
										 
									</p>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Social -->
		<section id="social" class="section section-3">
			<div class="container">
				<div class="has-text-centered">					
					<h3 class="title is-3">Let's Socialize</h3>
				</div>
				<div class="social-container columns">
					<div class="column is-6 has-text-centered">
						<a target="_blank" href="https://www.linkedin.com/in/anil-reddy-43a152169/"><img class="" src="static/css/img/linkedin.png"></a>
					</div>
					<div class="column is-6 has-text-centered">
						<a target="_blank" href="https://www.facebook.com/bunny.anil.37"><img class="" src="static/css/img/facebook.png"></a>
					</div>
				</div>
			</div>
		</section>	
		
		<!-- Footer -->
		<section class="section-4 has-text-centered container">
			<a href="#">Anil</a>
		</section>
		
		<!-- Scripts  -->
		<script src="controller.js"></script>		
	</body>	
</html>